In [19]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("./Track_1.csv")

In [3]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df = df.drop(['1=defaulted','Other loans plans taken'],axis=1)

In [5]:
df.describe()

,Number of people who will provide maintenance,loan amount taken,Number of loans taken from current bank,Age of the applicant in Number of Years,% of income paid as installment,time duration for loan,Number of years of stay in current address,Loan Defaulted or not
count,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000
mean,1.168333,3165.848333,1.373333,36.058333,2.943333,20.660000,2.871667,1.296667
std,0.374474,2689.041881,0.566708,11.700417,1.124973,12.198185,1.097210,0.457169
min,1.000000,276.000000,1.000000,19.000000,1.000000,4.000000,1.000000,1.000000
25%,1.000000,1346.750000,1.000000,27.000000,2.000000,12.000000,2.000000,1.000000
50%,1.000000,2246.500000,1.000000,34.000000,3.000000,18.000000,3.000000,1.000000
75%,1.000000,3880.250000,2.000000,42.000000,4.000000,24.000000,4.000000,2.000000
max,2.000000,15672.000000,4.000000,75.000000,4.000000,72.000000,4.000000,2.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 20 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Number of people who will provide maintenance  600 non-null    int64
 1   Loan History                                   600 non-null    object
 2   Purpose of taking loan                         591 non-null    object
 3   loan amount taken                              600 non-null    int64
 4   Guarantor or Debtor                            600 non-null    object
 5   Number of years of employment                  447 non-null    object
 6   Marital Status                                 600 non-null    object
 7   Number of loans taken from current bank        600 non-null    int64
 8   Age of the applicant in Number of Years        600 non-null    int64
 9   amount in current account                      600 non-null    object
 10  amount in savings account                      600 non-null    object
 11  % of income paid as installment                600 non-null    int64
 12  Working abroad or not                          600 non-null    object
 13  Is there telephone number available            600 non-null    object
 14  time duration for loan                         600 non-null    int64
 15  Owned property                                 600 non-null    object
 16  Type of job performed                          600 non-null    object
 17  Type of Housing                                600 non-null    object
 18  Number of years of stay in current address     600 non-null    int64
 19  Loan Defaulted or not                          600 non-null    int64
dtypes: int64(8), object(12)
memory usage: 93.9+ KB

In [8]:
Name_of_Input = {'Number of people who will provide maintenance':'NPPM','Purpose of taking loan': 'Objective',
                     'loan amount taken': 'Amount','Guarantor or Debtor': 'Guarantor','Loan History':'LoanStatus',
                     'Number of years of employment': 'Experience','Marital Status' : 'M_Status','Number of loans taken from current bank': 'ExistingLoan',
                     'Age of the applicant in Number of Years': 'Age','amount in current account': 'CA_Balance',
                     'amount in savings account': 'SA_Balance','% of income paid as installment': 'PI_Payment',
                     'Working abroad or not': 'WorkAB', 'Is there telephone number available': 'PhN',
                     'time duration for loan': 'Tenure', 'Owned property': 'prop', 'Type of job performed': 'JobTyp',
                     'Type of Housing':'HouseT','Number of years of stay in current address': 'NOE','Loan Defaulted or not': 'prediction'}

In [9]:
#Renameing Coloumn Name For Convinence
df.rename(columns = Name_of_Input, inplace = True)

In [10]:
df.head()

,NPPM,LoanStatus,Objective,Amount,Guarantor,Experience,M_Status,ExistingLoan,Age,CA_Balance,SA_Balance,PI_Payment,WorkAB,PhN,Tenure,prop,JobTyp,HouseT,NOE,prediction
0,1,critical account/other loans existing (not at ...,New Car Purchase,1028,none,between 1 and 4 years,female and divorced/seperated/married,2,36,no current account,less than 100,4,Yes,No,18,Real Estate,skilled employee / official,own,3,1
1,1,existing loans paid back duly till now,Purchase of radio/television,10222,none,greater than 4 years,male and single,1,37,no current account,no savings account,4,Yes,Yes,48,car or other property,skilled employee / official,own,3,1
2,1,existing loans paid back duly till now,Purchase of radio/television,701,none,between 1 and 4 years,male and married/widowed,1,40,less than 0,less than 100,4,Yes,No,12,Real Estate,unskilled - resident,own,2,1
3,1,existing loans paid back duly till now,Purchase of radio/television,1670,none,less than a year,female and divorced/seperated/married,1,22,between 0 and 200,less than 100,4,Yes,Yes,9,car or other property,skilled employee / official,own,2,2
4,1,critical account/other loans existing (not at ...,New Car Purchase,1163,none,between 1 and 4 years,male and single,1,44,no current account,between 500 and 1000,4,Yes,Yes,12,Real Estate,skilled employee / official,own,4,1

In [11]:
temp = pd.DataFrame(Name_of_Input,index=[0])
temp.head()

,Number of people who will provide maintenance,Purpose of taking loan,loan amount taken,Guarantor or Debtor,Loan History,Number of years of employment,Marital Status,Number of loans taken from current bank,Age of the applicant in Number of Years,amount in current account,amount in savings account,% of income paid as installment,Working abroad or not,Is there telephone number available,time duration for loan,Owned property,Type of job performed,Type of Housing,Number of years of stay in current address,Loan Defaulted or not
0,NPPM,Objective,Amount,Guarantor,LoanStatus,Experience,M_Status,ExistingLoan,Age,CA_Balance,SA_Balance,PI_Payment,WorkAB,PhN,Tenure,prop,JobTyp,HouseT,NOE,prediction

In [12]:
df = df.dropna()

In [13]:
df.isna().sum()

NPPM            0
LoanStatus      0
Objective       0
Amount          0
Guarantor       0
Experience      0
M_Status        0
ExistingLoan    0
Age             0
CA_Balance      0
SA_Balance      0
PI_Payment      0
WorkAB          0
PhN             0
Tenure          0
prop            0
JobTyp          0
HouseT          0
NOE             0
prediction      0
dtype: int64

In [14]:
df.Objective = df.Objective.replace({"New Car Purchase": 0, "Purchase of radio/television" : 1,'Purchase of furniture/equipment' : 2,'Old Car Repair': 3,'Education Loan': 4,
                                    'Loan for business establishment': 5,'Other repairs': 6,'Purchase of domestic appliances': 7,'Loan for retraining': 8})

df.Guarantor = df.Guarantor.replace({'none' : 0,'gaurantor' : 1,'co-applicant':  2})

df.LoanStatus = df.LoanStatus.replace({'critical account/other loans existing (not at this bank)' : 0,'existing loans paid back duly till now' : 1,'all loans at this bank paid back duly':  2,'delay in paying off loans in the past' : 3,
                                       'no loans taken/all loans paid back duly': 4})

df.Experience = df.Experience.replace({'between 1 and 4 years': 0, 'greater than 4 years': 1,'less than a year': 2,'unemployed': 3})

df.M_Status = df.M_Status.replace({'female and divorced/seperated/married': 0,'male and single': 1,'male and married/widowed': 2,
                                  'male and divorced/seperated': 3})

df.CA_Balance = df.CA_Balance.replace({'no current account': 0,'less than 0': 1,'between 0 and 200': 3,'greater than 200': 4})

df.SA_Balance = df.SA_Balance.replace({'less than 100': 0,'no savings account': 1,'between 500 and 1000': 2,
                                      'between 100 and 500': 3,'greater than 1000': 4})

df.WorkAB = df.WorkAB.replace({'Yes': 1,'No': 0})

df.PhN = df.PhN.replace({'Yes': 1,'No': 0})

df.prop = df.prop.replace({'Real Estate': 0,'car or other property': 1,'No property': 2,'building society savings agreement/life insurance': 3})

df.JobTyp = df.JobTyp.replace({'skilled employee / official': 0,'unskilled - resident': 1,'unemployed/ unskilled - non-resident': 2,'management/ self-employed/highly qualified employee/ officer': 3})

df.HouseT = df.HouseT.replace({'own': 0,'for free': 1,'rent': 3})

df.prediction = df.prediction.replace({2 : 0})

In [16]:
X = df.drop(['prediction'],axis=1)
Y = df['prediction']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [18]:
print("Size of X Train:- " + str(X_train.shape))
print("Size of Y Train:- " + str(y_train.shape))
print("Size of X Test:- " + str(X_test.shape))
print("Size of Y Test:- " + str(y_test.shape))

Size of X Train:- (352, 19)
Size of Y Train:- (352,)
Size of X Test:- (89, 19)
Size of Y Test:- (89,)

In [124]:
reg_rf = RandomForestClassifier(max_depth=10,min_samples_split= 5,n_estimators= 100)

reg_rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, min_samples_split=5)

In [125]:
y_pred = reg_rf.predict(X_test)
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.48      0.48      0.48        23
           1       0.82      0.82      0.82        66

    accuracy                           0.73        89
   macro avg       0.65      0.65      0.65        89
weighted avg       0.73      0.73      0.73        89